.pattern_buttons {
  background-color: white; 
}

.button_div {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  position: relative;
  top: -200px;
}

.game_buttons {
  border-radius: 6px;
  width: 500px;
  height: 400px;
  /* background-color: rgb(53, 216, 105); */
  background-color: rgb(132, 221, 254);
}

.pattern_one{
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-left: 98px;
}

.pattern_two{
  display: flex;
  flex-direction: row;
  padding-left: 98px;
}