/* game page */
.pattern-buttons {
  text-align: center;
  background-color: rgb(220, 255, 138);
  padding-top: 10px;
}

/* game page title */
.pattern-title > p {
  font-family: 'Source Code Pro', monospace;
  padding-top: 30px;
  font-size: 30px;
  position: relative;
  top: -10px;
}

/* game start and end buttons */
/* .gameButtonArea {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
  top: 200px;
} */

#startGame {
  padding: 20px;
}

#stopGame {
  padding: 20px;
}