/* game page */
.pattern-buttons {
  text-align: center;
  background-color: rgb(220, 255, 138);
  padding-top: 10px;
}

/* game page title */
.pattern-title > p {
  font-family: 'Source Code Pro', monospace;
  padding-top: 30px;
  font-size: 30px;
  position: relative;
  top: -10px;
}

/* game start and end buttons */
.gameButtonArea {
  /* background-color: red; */
  position: relative;
  top: -1px;
  left: -710px;
}

#startBtn {
  padding: 10px;
  margin: 10px;
  font-size: 40px;
  background-color: rgb(35, 172, 69);
  color: white;
  border-radius: 10px;
}

#stopBtn {
  padding: 10px;
  margin: 10px;
  font-size: 25px;
}

.hidden {
  display: none;
}