/* game page */
.pattern-buttons {
  text-align: center;
  background-color: rgb(220, 255, 138);
  padding-top: 10px;
  padding-bottom: 300px;
}

/* game page title */
.pattern-title > p {
  font-family: 'Source Code Pro', monospace;
  padding-top: 30px;
  font-size: 30px;
  position: relative;
  top: -10px;
}

/* game start and end buttons */
.gameButtonArea {
  /* background-color: rgb(255, 107, 97); */
  position: relative;
  height: 120px;
  top: -30px;
  left: 0px;
}

#startBtn {
  padding: 30px;
  margin: 10px;
  background-color: rgb(42, 164, 72);
  color: white;
  border-radius: 10px;
  position: relative;
  left: 510px;
  top: 70px;
  border: navajowhite;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  letter-spacing: 6px;
}

#stopBtn {
  padding: 30px;
  margin: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  letter-spacing: 6px;
}

.hidden {
  display: none;
}