.app-header {
  padding-top: 160px;
  padding-bottom: 300px;
}

/* title  */
.title {
  /* font-family: 'Monoton', cursive; */
  position: relative;
  top: -40px;
  left: 250px;
  width: 70%;
  background-color: rgb(238, 255, 192);
  border: solid 1px rgb(254, 254, 254);
}

img{
  background-image: url(./memory.png);
  background-image: url(./game.png);
}

.home-buttons {
  width: 100%;
  /* background-color: rgb(255, 119, 0);  */
  position: relative;
  top: -300px;
}
/* instructions button  */
.home-buttons > .instructions {
  position: relative;
  top: 350px;
  left: -100px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 40px;
  cursor: -webkit-grabbing; cursor: grabbing;
  background-color: rgba(255, 125, 39, 0.981);
  border: navajowhite;
}

.instructions > p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Source Code Pro', monospace;
}

/* lets play button  */
.game {
  position: relative;
  top: 350px;
  left: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 40px;
  cursor: -webkit-grabbing; cursor: grabbing;
  background-color: rgba(255, 125, 39, 0.981);
  border: navajowhite;
}

.game > p {
  color: white;
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Source Code Pro', monospace;
}