@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.App {
  text-align: center;
  background-color: rgb(232, 255, 201);
  /* background-color: rgb(16, 148, 34); */
  cursor: -webkit-grabbing; cursor: grabbing;
}