body {
  padding-top: 160px;
  padding-bottom: 300px;
  background-color: rgb(238, 255, 192);
}

/* title  */
.title {
  position: relative;
  top: -30px;
  left: 300px;
  width: 200px;
  /* border: solid 10px rgb(254, 254, 254); */
}

img{
  background-image: url(./memory.png);
  background-image: url(./game.png);
}

#memory {
  position: relative;
  left: 45px;
  /* height: 300px; */
}

#game {
  position: relative;
  left: 165px;
  /* height: 300px; */
}

/* instructions button  */
.instructions {
  position: relative;
  top: 100px;
  left: 100px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 40px;
  cursor: -webkit-grabbing; cursor: grabbing;
  background-color: rgba(255, 162, 0, 0.7);
  border: navajowhite;
  outline: none;
}

.instructions > p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Source Code Pro', monospace;
  outline: none;
}

/* lets play button  */
.game {
  position: relative;
  top: -77px;
  left: 600px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
  border-radius: 40px;
  cursor: -webkit-grabbing; cursor: grabbing;
  background-color: rgba(255, 125, 39, 0.981);
  border: navajowhite;
  outline: none;
}

.game > p {
  color: white;
  font-size: 20px;
  letter-spacing: 6px;
  font-family: 'Source Code Pro', monospace;
  outline: none;
}

