body {
  margin: 2em;
}

.title  {
  font-family: 'Monoton', cursive;
  font-size: 100px;
  display: flex;
  position: absolute;
  left: 23%;
  color: black;
}

/* instructions button */
.instructions > p {
  color: white;
  font-size: 20px;
  position: relative;
  top: 60px;
  font-family: 'Source Code Pro', monospace;

}
.instructions {
  position: relative;
  top: 40px;
  left: 190px;
  width: 200px;
  height: 100px;
  background-color: rgb(245, 14, 14);
}

/* pattern buttons to play */
button{
  border-radius: 6px;
  width: 500px;
  height: 400px;
  background-color: rgb(39, 167, 79);
  padding-bottom: 200px;
  border-radius: 100px;
}

.pattern-buttons{
  position: relative;
  top: 400px;
  left: 13%;
  display: flex;
  flex-direction: row;
}

.pattern-buttons2{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 500px;
  left: 13%;
}

/* stop button is hidden */
.hidden {
  display: none;
}

#start, #stop {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 52, 238);
  position: relative;
  left: 200px;
  top: 40px;
  color: white;
}

#start > p {
  position: relative;
  top: 58px;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
}

/* styles for each button to play */
#button1 {
  background: lightgreen;
}

#button1:active, #button1.lit {
  background: rgb(49, 160, 49);
}

#button2 {
  background: lightblue;
}

#button2:active, #button2.lit {
  background: blue;
}

#button3 {
  background: pink;
}

#button3:active, #button3.lit{
  background: rgb(255, 0, 221);
}

#button4 {
  background: rgb(252, 252, 139);
}

#button4:active, #button4.lit {
  background: yellow;
}

#button5 {
  background: rgb(255, 185, 139);
}

#button5:active, #button5.lit {
  background: rgb(255, 140, 40);
}

#button6 {
  background: rgb(239, 224, 255);
}

#button6:active, #button6.lit {
  background: rgb(200, 0, 255);
}